.company-name {
  height: 200px;
  width: 100%;
}

#likes {
  height: 800p;
  height: 800ox;
  height: 600px;
  width: 100%;
  background-color: #bbdfc8;
  border-radius: 15px 50px 30px;
}

div {
}

#likes-content {
  height: 2000px;
  width: 100%;
  background: white;
}

div {
}

#div-content-nsite {
  height: 1600px;
  width: 90%;
  background: white;
  align-items: center;
}

#story-1 {
  height: 200px;
  background-color: white;
}

